src/Makefile
src/core/Makefile
src/file/Makefile
src/fwk/Makefile
src/lang/Makefile
src/log/Makefile
src/log/nt/Makefile
src/log/unix/Makefile
src/net/Makefile
src/pat/Makefile
src/rpc/Makefile
src/rpc/http/Makefile
src/ser/Makefile
src/svr/Makefile
src/svr/nt/Makefile
src/svr/unix/Makefile
src/sys/Makefile
src/thd/Makefile
src/util/Makefile
src/xml/Makefile
test/core/Makefile
test/file/Makefile
test/fwk/Makefile
test/lang/Makefile
test/log/Makefile
test/net/netclient/Makefile
test/net/netserver/Makefile
test/net/nettest/Makefile
test/pat/Makefile
test/rpc/http_client_transport/Makefile
test/rpc/http_server_transport/Makefile
test/rpc/rpc_client/Makefile
test/rpc/rpc_dispatcher/Makefile
test/rpc/rpc_server/Makefile
test/ser/Makefile
test/svr/Makefile
test/sys/Makefile
test/thd/Makefile
test/util/Makefile
test/xml/Makefile
